fastapi
uvicorn
pydantic
python-dotenv
google-genai
langgraph
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
qdrant-client
ollama
# RAG
markdown
beautifulsoup4
# Other
redis
asyncpg
pandas
scikit-learn
paho-mqtt